@charset "UTF-8"

@font-face 
{
    font-family: 'Russo One', sans-serif;
    src: url('fonts/RussoOne-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'RussoOne-Regular', sans-serif;
}


.image img {
    display: block;
    border-radius: 50%;
    box-shadow: 20px 20px 10px black;
    margin-right: auto;
    padding-top: 20px;
    margin-left: auto;
    width: 40%;
}

.image.fit {

    float: auto;
    margin-right: auto;
    margin-left: auto;

    width: 50%;
}

a,
a:hover {
    text-decoration: none;
}

.separator {
    height: 3px;
    width: 5%;
    border: none;
    box-shadow: none;
    background-color: goldenrod;
}

.header {
    background-color: goldenrod;
    height: 70px;
    line-height: 70px;

}

.logo {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
}

.menu {
    float: right;
}

.menu a {
    color: white;
    margin-right: 20px;
    size: 20px;
}

.menu a:hover {
    color: blue;

}


.inner-banner {
    position: absolute;
    top: 70%;
    width: 100%;
    text-align: center;
}

.inner-banner h1 {
    color: goldenrod;
    text-shadow: 1px 1px 40px #000000;
}

.inner-banner .btn-custom {
    background-color: goldenrod;
    color: #ffffff;
}

.inner-banner .btn-custom:hover {
    background-color: blue;
}

  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #111;
    text-align: center;
  }
  
  .container1{
    margin-top: 50px;
    color: #fff;
    width: 100%;
  }
  
  .fab-twitter {
      color: #4099FF;
  }
  
  .fab-facebook {
      color: #3B5998;
  }
  
  .fab-github {
      color: #e52d27;
  }
  
  .fab-linkedin {
      color: #007bb6;
  }
  
  .fa {
      opacity: 0.7;
      transition: 1s;
      -webkit-transition: 1s;
  }
  
  .fa:hover{
      opacity: 1;
      transition: 1s;
      -webkit-transition: 1s;
  }