@font-face 
{
    font-family: 'Russo One', sans-serif;
    src: url('fonts/RussoOne-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'RussoOne-Regular', sans-serif;
    background-color: #33ccff;
}


.image img {
    display: block;
    border-radius: 50%;
    box-shadow: 20px 20px 10px black;
    margin-right: auto;
    padding-top: 20px;
    margin-left: auto;
    width: 40%;
}

.image.fit {

    float: none;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

a,
a:hover {
    text-decoration: none;
}

.separator {
    height: 3px;
    width: 5%;
    border: none;
    box-shadow: none;
    background-color: #ccffff;
}

.header {
    background-color: #ccffff;
    height: 70px;
    line-height: 70px;

}

.logo {
    color: #000099;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
}

.menu {
    float: right;
}

.menu a {
    color: #000099;
    font-weight: bold;
    margin-right: 20px;
    
}

.menu a:hover {
    color: blue;

}


.inner-banner {
    
    float: none;
    top: 80%;
    width: 100%;
    text-align: center;
}

.inner-banner h1 {
    color: #ccffff;
    text-shadow: 1px 1px 40px #000000;
}

.inner-banner .btn-custom {
    background-color: #000099;
    color: #ffffff;
}

.inner-banner .btn-custom:hover {
    background-color: #ccffff;
}

  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #ccffff;
    text-align: center;
  }
  
  .container-fluid footer{
    margin-top: 50px;
    color: #fff;
    width: 100%;
  }
  
i.fab
{
    color: #000099;
    margin-top: 10px;
}
 
  
  i.fab:hover{
      color: blue;
      
  }

