@charset "UTF-8"

@font-face
{
    font-family: 'Russo One', sans-serif;
    src: url('fonts/RussoOne-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body,html
{
    padding: 0;
    margin: 0;
}

body
{
    font-family: 'RussoOne-Regular', sans-serif;
}

a, a:hover
{
    text-decoration: none;
}
.separator
{
    height: 3px;
    width: 5%;
    border: none;
    box-shadow: none;
    background-color: goldenrod;
}
.header
{
    background-color: goldenrod;
    height: 70px;
    line-height: 70px;

}

.logo
{
color: white;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 1px;
float: left;
}

.menu
{
    float: right;
}

.menu a
{
    color: white;
    margin-right: 20px;
}

.menu a:hover
{
color: blue;

}

.container-fluid
{
    padding: 0;
}

.banner
{
    width: 100%;
    max-width: 100%;
}

.ban
{
    width: 100%;
    max-width: 100%;
    position: relative;
}

.ban img
{
    width: 100%;
    max-width: 100%;
}

.inner-banner
{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

.inner-banner h1
{
    color : #ffffff;
    text-shadow: 1px 1px 20px #000000;
}

.inner-banner .btn-custom
{
    background-color: goldenrod;
    color: #ffffff;
}

.inner-banner .btn-custom:hover
{
    background-color: forestgreen;
}

#about
{
    text-align: center;
    padding-top: 5%;
}
.about div h2
{
text-align: center;

}

.about div
{
    margin-top: 5%;
}

.portfolio

{
    background-color: grey;
}

#portfolio

{
    text-align: center;
}